{% extends 'core/base.html' %}
{% load static %}
{% block title %}{{encuesta.name}}{% endblock %}
{% block content %}
{% include 'encuestas/includes/encuestas_menu.html' %}
<main role="main">
  <div class="container">
    <div class="row mt-3">
      <div class="col-md-9 mx-auto">
        <h2 class="section-heading mb-4">{{encuesta.name}}</h2>
        <div>
          {{encuesta.subtitle|safe}}
          {% if request.user.is_staff %}
            <p><a href="{% url 'encuestas:update' encuesta.id %}">Editar</a></p>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</main>
{% endblock %}
